.navigation-bar {
  padding: 20px;
}

.navigation-bar li {
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
}
.navigation-bar li:first-child{
  float:left;
}

.navigation-bar li:last-child{
  float: right;
}

#what, #new-game {
  vertical-align: middle;
  color: white;
  font-size: 21px;
  text-decoration: none;
}